# ignore all bin directories
# matches "bin" in any subfolder
bin/

# matches "build" in any subfolder
build/

# ignore all target directories
target/

# ignore swap folder
swap/

# ignore all out directories
out/

#ignore tag folders
tag/
tags/

# ignore all files ending with ~
*~
*.~*

# ignore all files in cache folder
__pycache__

#ignore other files
*.log
*.out
*.txt
*.tags*
*.Debug
*.Release
*.t2d
*.pro.user*
*Makefile*
*.db
*.pid
mpdstate
